1. Weight Of Evidence (WOE) LOGISTIC REGRSSION SCORECARD

In [2]:
ticker = 'CL=F'
no_years = 100

end_date = datetime.datetime.now().strftime('%Y-%m-%d')
start_date = (datetime.datetime.now() -
              datetime.timedelta(days=no_years * 365)).strftime('%Y-%m-%d')

print('Ticker: {}'.format(ticker))
print('Start Date: ', start_date)
print('End Date: ', end_date)

df = get_price(ticker, start_date, end_date)
closed_dates_list = get_closed_dates(df)

df['Year'] = df['Date'].astype(str).str[0:4].astype(int)
df['Month'] = df['Date'].astype(str).str[5:7].astype(int)
df['Day'] = df['Date'].astype(str).str[8:10].astype(int)

df

Ticker: CL=F
Start Date:  1924-06-12
End Date:  2024-05-18

,Date,Open,High,Low,Close,Adj Close,Volume,Year,Month,Day
0,2000-08-23,31.950001,32.799999,31.950001,32.049999,32.049999,79385,2000,8,23
1,2000-08-24,31.900000,32.240002,31.400000,31.629999,31.629999,72978,2000,8,24
2,2000-08-25,31.700001,32.099998,31.320000,32.049999,32.049999,44601,2000,8,25
3,2000-08-28,32.040001,32.919998,31.860001,32.869999,32.869999,46770,2000,8,28
4,2000-08-29,32.820000,33.029999,32.560001,32.720001,32.720001,49131,2000,8,29
...,...,...,...,...,...,...,...,...,...,...
5955,2024-05-13,78.180000,79.489998,77.779999,79.120003,79.120003,287701,2024,5,13
5956,2024-05-14,79.230003,79.379997,77.680000,78.019997,78.019997,307410,2024,5,14
5957,2024-05-15,78.440002,78.919998,76.699997,78.629997,78.629997,321267,2024,5,15
5958,2024-05-16,78.839996,79.849998,78.199997,79.230003,79.230003,230277,2024,5,16
5959,2024-05-17,79.379997,80.139999,79.000000,80.059998,80.059998,230277,2024,5,17